[submodule "03/todomvc"]
	path = 03/todomvc
	url = https://github.com/richorrichard/todomvc.git
[submodule "04/accounting.js"]
	path = 04/accounting.js
	url = https://github.com/richorrichard/accounting.js.git
